---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Hero from "../components/Hero.astro";
import Description from "../components/Description.astro";
import Callout from "../components/Callout.astro";
import Pictures from "../components/Pictures.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";

const variedades = await getCollection("variedades");
---

<Layout title='Délomai - Cerveza Artesanal'>
  <main>
    <NavBar variedades={variedades} />
    <Hero />
    <Description />
    <Callout />
    <Pictures />
    <Footer />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: 1580px;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
