---
//JS
---

<section class='beerpacks'>
  <div class='texts'>
    <h1>beerpacks</h1>
    <p>
      Comparte con tu familia y amigos de nuestros Beerpacks, consíguelos acá.
      Tus DÉLOMAI favoritas está aquí. Próximamente tendremos accesorios para
      tus cervezas en todas sus variedades!
    </p>
  </div>

  <div class='cta-wsp mobile'>
    <a
      href='https://wa.me/56944058555'
      target='_blank'
      rel='noopener noreferrer'
      >compra aqui
      <span>
        <svg
          width='26'
          height='25'
          viewBox='0 0 26 25'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M22.0837 3.63281C19.6545 1.28906 16.4193 0 12.9812 0C5.88474 0 0.110158 5.55804 0.110158 12.3884C0.110158 14.5703 0.701531 16.702 1.8263 18.5826L0 25L6.82398 23.2757C8.70246 24.2634 10.8186 24.7824 12.9754 24.7824H12.9812C20.0719 24.7824 25.974 19.2243 25.974 12.394C25.974 9.08482 24.513 5.97656 22.0837 3.63281ZM12.9812 22.6953C11.0564 22.6953 9.17208 22.1987 7.53131 21.2612L7.14286 21.0379L3.09601 22.0592L4.1744 18.2589L3.91929 17.8683C2.84671 16.2277 2.28432 14.3359 2.28432 12.3884C2.28432 6.71317 7.08488 2.09263 12.987 2.09263C15.8453 2.09263 18.5297 3.16406 20.5473 5.11161C22.5649 7.05915 23.8057 9.64286 23.7999 12.394C23.7999 18.0748 18.8776 22.6953 12.9812 22.6953ZM18.8486 14.9833C18.5297 14.827 16.9469 14.0792 16.6512 13.9788C16.3555 13.8728 16.141 13.8225 15.9265 14.135C15.712 14.4475 15.0974 15.1395 14.9061 15.3516C14.7205 15.558 14.5292 15.5859 14.2103 15.4297C12.3203 14.5201 11.0795 13.8058 9.83302 11.7467C9.50255 11.1998 10.1635 11.2388 10.7781 10.0558C10.8824 9.84933 10.8302 9.67076 10.7491 9.51451C10.6679 9.35826 10.0244 7.83482 9.75765 7.2154C9.49675 6.61272 9.23006 6.69643 9.03293 6.68527C8.8474 6.67411 8.63288 6.67411 8.41837 6.67411C8.20385 6.67411 7.85598 6.75223 7.5603 7.05915C7.26461 7.37165 6.43553 8.11942 6.43553 9.64286C6.43553 11.1663 7.58929 12.6395 7.74583 12.846C7.90816 13.0525 10.0128 16.1775 13.2421 17.5223C15.2829 18.3705 16.083 18.4431 17.1034 18.298C17.7238 18.2087 19.0051 17.5502 19.2718 16.8248C19.5385 16.0993 19.5385 15.4799 19.4573 15.3516C19.382 15.2121 19.1674 15.1339 18.8486 14.9833Z'
            fill='white'></path></svg
        ></span
      ></a
    >
  </div>

  <div class='pics'>
    <div>
      <img
        src='/imgs/Cerveza Délomai Golden Ale.webp'
        alt='Delomai Golden Ale'
        loading='lazy'
      />
    </div>
    <div>
      <img
        src='/imgs/Cerveza délomai-IPA.webp'
        alt='Delomai IPA'
        loading='lazy'
      />
    </div>
    <div>
      <img src='/imgs/Cerveza Délomai Stout.webp' alt='Delomai Stout' />
    </div>
    <div>
      <img src='/imgs/weizen_final.webp' alt='Delomai Weizen' loading='lazy' />
    </div>
    <div>
      <img src='/imgs/amber Ale.webp' alt='Delomai Amber Ale' loading='lazy' />
    </div>
    <div>
      <img
        src='/imgs/amber_calafate.webp'
        alt='Delomai Amber Calafate'
        loading='lazy'
      />
    </div>
  </div>
  <div class='cta-wsp desktop'>
    <a
      href='https://wa.me/56944058555'
      target='_blank'
      rel='noopener noreferrer'
      >compra aqui
      <span>
        <!-- <img src='/icons/whatsapp-vector.svg' alt='Whatsapp Icon' /> -->
        <svg
          width='26'
          height='25'
          viewBox='0 0 26 25'
          fill=''
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M22.0837 3.63281C19.6545 1.28906 16.4193 0 12.9812 0C5.88474 0 0.110158 5.55804 0.110158 12.3884C0.110158 14.5703 0.701531 16.702 1.8263 18.5826L0 25L6.82398 23.2757C8.70246 24.2634 10.8186 24.7824 12.9754 24.7824H12.9812C20.0719 24.7824 25.974 19.2243 25.974 12.394C25.974 9.08482 24.513 5.97656 22.0837 3.63281ZM12.9812 22.6953C11.0564 22.6953 9.17208 22.1987 7.53131 21.2612L7.14286 21.0379L3.09601 22.0592L4.1744 18.2589L3.91929 17.8683C2.84671 16.2277 2.28432 14.3359 2.28432 12.3884C2.28432 6.71317 7.08488 2.09263 12.987 2.09263C15.8453 2.09263 18.5297 3.16406 20.5473 5.11161C22.5649 7.05915 23.8057 9.64286 23.7999 12.394C23.7999 18.0748 18.8776 22.6953 12.9812 22.6953ZM18.8486 14.9833C18.5297 14.827 16.9469 14.0792 16.6512 13.9788C16.3555 13.8728 16.141 13.8225 15.9265 14.135C15.712 14.4475 15.0974 15.1395 14.9061 15.3516C14.7205 15.558 14.5292 15.5859 14.2103 15.4297C12.3203 14.5201 11.0795 13.8058 9.83302 11.7467C9.50255 11.1998 10.1635 11.2388 10.7781 10.0558C10.8824 9.84933 10.8302 9.67076 10.7491 9.51451C10.6679 9.35826 10.0244 7.83482 9.75765 7.2154C9.49675 6.61272 9.23006 6.69643 9.03293 6.68527C8.8474 6.67411 8.63288 6.67411 8.41837 6.67411C8.20385 6.67411 7.85598 6.75223 7.5603 7.05915C7.26461 7.37165 6.43553 8.11942 6.43553 9.64286C6.43553 11.1663 7.58929 12.6395 7.74583 12.846C7.90816 13.0525 10.0128 16.1775 13.2421 17.5223C15.2829 18.3705 16.083 18.4431 17.1034 18.298C17.7238 18.2087 19.0051 17.5502 19.2718 16.8248C19.5385 16.0993 19.5385 15.4799 19.4573 15.3516C19.382 15.2121 19.1674 15.1339 18.8486 14.9833Z'
            fill='white'></path></svg
        ></span
      ></a
    >
  </div>

  
</section>

<style>
  .beerpacks {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    align-items: center;
    justify-content: center;
  }

  .pics {
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 30px;
  }
  .pics div {
    width: 100%;
    height: auto;
  }

  .pics div img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    margin: 0 auto;
  }

  .beerpacks .texts {
    padding: 10px 40px;
    align-self: flex-start;
  }

  .beerpacks .texts h1 {
    font-family: RootBeer;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    color: #d0a35c;
  }

  .beerpacks .texts p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 40px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .beerpacks ul {
    padding-left: 20px;
    padding-top: 40px;
  }
  .beerpacks .texts ul li {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .cta-wsp {
    display: flex;
    flex-direction: row;
    width: 190px;
    height: 50px;
    justify-content: center;

    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 8px 18px;
    margin-bottom: 30px;
  }

  .cta-wsp a {
    font-family: RootBeer;
    font-size: 2.6rem;
    text-decoration: none;
    color: #ffffff;
  }

  .beerpacks .mobile {
    display: none;
  }

  /* media queries */

  @media screen and (max-width: 835px) {
    .beerpacks {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 760px) {
    .pics {
      flex-wrap: wrap;
    }

    .beerpacks .desktop {
      display: none;
    }

    .beerpacks .mobile {
      display: flex;
    }
  }

  @media screen and (min-width: 1920px) {
    .beerpacks .texts {
      padding: 20px 200px;
    }

    .beerpacks .texts h1 {
      font-size: 5.2rem;
      line-height: 55px;
    }

    .beerpacks .texts p {
      font-size: 2.2rem;
    }

    .beerpacks .texts ul li {
      font-size: 2.2rem;
    }
  }
</style>
