---
// JS
---

<footer>
  <img class='logo' src='/logos/delomai.svg' alt='Delomai Logo' />
  <p>
    Rancagua | Region de O’Higgins | Chile | Cel. +56 9 4405 8555 |
    contacto@delomai.cl
  </p>
  <p class='author'>
    <a
      href='https://www.linkedin.com/in/sebastianpenaj/'
      target='_blank'
      rel='noopener noreferrer'>Developed by Sebastian Peña</a
    >
  </p>
  <div class='social'>
    <a
      href='https://wa.me/56944058555'
      target='_blank'
      rel='noopener noreferrer'
      ><img src='/icons/whatsapp-vector.svg' alt='Whatsapp' /></a
    >
    <a href='https://www.facebook.com/delomai.cerveza'
      ><img src='/icons/FB-Vector.svg' alt='Facebook' /></a
    >
    <a href='https://www.instagram.com/cervezadelomai/?hl=es-la'
      ><img src='/icons/insta-Vector.svg' alt='Instagram' /></a
    >
  </div>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -2px;
    background-color: #000000;
  }

  footer .logo {
    width: 110px;
    height: 36px;
    margin-top: 50px;
  }

  footer p {
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    margin-top: 11px;
    padding: 0 48px;
  }

  footer .author {
    padding-bottom: 20px;
  }

  .author a {
    text-decoration: none;
    color: #a8a8a8cc;
  }
  .social {
    display: flex;
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    justify-content: space-between;
  }
</style>
