---
// JS
import { getCollection } from "astro:content";
const variedades = await getCollection("variedades");
---

<nav>
  <img src='/icons/ham-menu.svg' alt='menu' class='menu' />

  <div class='navbar-left'>
    <a href='/index.html'>
      <img class='nav-logo' src='/logos/delomai.svg' alt='Logo Delomai' />
    </a>
  </div>
  <div class='navbar-right'>
    <ul>
      <li>
        <a href='/about'>about</a>
      </li>
      <li>
        <a href='#'>variedades</a>
        <div class='beers-menu'>
          {
            variedades.map((variedad) => (
              <a href={`/variedades/${variedad.slug}`}>{variedad.data.title}</a>
            ))
          }
        </div>
      </li>

      <li>
        <a href='/beerpacks'>Beerpacks</a>
      </li>
      <li>
        <a
          href='https://wa.me/56944058555'
          target='_blank'
          rel='noopener noreferrer'
          >contacto
          <span>
            <svg
              width='26'
              height='25'
              viewBox='0 0 26 25'
              fill='none'
              xmlns='http://www.w3.org/2000/svg'
            >
              <path
                d='M22.0837 3.63281C19.6545 1.28906 16.4193 0 12.9812 0C5.88474 0 0.110158 5.55804 0.110158 12.3884C0.110158 14.5703 0.701531 16.702 1.8263 18.5826L0 25L6.82398 23.2757C8.70246 24.2634 10.8186 24.7824 12.9754 24.7824H12.9812C20.0719 24.7824 25.974 19.2243 25.974 12.394C25.974 9.08482 24.513 5.97656 22.0837 3.63281ZM12.9812 22.6953C11.0564 22.6953 9.17208 22.1987 7.53131 21.2612L7.14286 21.0379L3.09601 22.0592L4.1744 18.2589L3.91929 17.8683C2.84671 16.2277 2.28432 14.3359 2.28432 12.3884C2.28432 6.71317 7.08488 2.09263 12.987 2.09263C15.8453 2.09263 18.5297 3.16406 20.5473 5.11161C22.5649 7.05915 23.8057 9.64286 23.7999 12.394C23.7999 18.0748 18.8776 22.6953 12.9812 22.6953ZM18.8486 14.9833C18.5297 14.827 16.9469 14.0792 16.6512 13.9788C16.3555 13.8728 16.141 13.8225 15.9265 14.135C15.712 14.4475 15.0974 15.1395 14.9061 15.3516C14.7205 15.558 14.5292 15.5859 14.2103 15.4297C12.3203 14.5201 11.0795 13.8058 9.83302 11.7467C9.50255 11.1998 10.1635 11.2388 10.7781 10.0558C10.8824 9.84933 10.8302 9.67076 10.7491 9.51451C10.6679 9.35826 10.0244 7.83482 9.75765 7.2154C9.49675 6.61272 9.23006 6.69643 9.03293 6.68527C8.8474 6.67411 8.63288 6.67411 8.41837 6.67411C8.20385 6.67411 7.85598 6.75223 7.5603 7.05915C7.26461 7.37165 6.43553 8.11942 6.43553 9.64286C6.43553 11.1663 7.58929 12.6395 7.74583 12.846C7.90816 13.0525 10.0128 16.1775 13.2421 17.5223C15.2829 18.3705 16.083 18.4431 17.1034 18.298C17.7238 18.2087 19.0051 17.5502 19.2718 16.8248C19.5385 16.0993 19.5385 15.4799 19.4573 15.3516C19.382 15.2121 19.1674 15.1339 18.8486 14.9833Z'
                fill='white'></path></svg
            ></span
          ></a
        >
      </li>
    </ul>
  </div>

  <a
    class='wsp'
    href='https://wa.me/56944058555'
    target='_blank'
    rel='noopener noreferrer'
  >
    <img class='wsp' src='/icons/whatsapp-vector.svg' alt='Whatsapp Logo' />
  </a>
  <div class='mobile-menu' id='mobile-menu'>
    <ul>
      <li><a href='/about'>about</a></li>
      {
        variedades.map((variedad) => (
          <li>
            <a href={`/variedades/${variedad.slug}`}>{variedad.data.title}</a>
          </li>
        ))
      }

      <li><a href='/beerpacks'>Beerpacks</a></li>
    </ul>
  </div>
</nav>

<style>
  nav {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    justify-content: space-between;
    padding: 20px 70px;
    background-color: #000000;
  }

  nav .menu {
    display: none;
  }

  nav .wsp {
    display: none;
  }

  .navbar-left {
    display: flex;
    align-items: center;
  }

  .navbar-left a .nav-logo {
    width: 155px;
    height: 50px;
  }

  .navbar-right ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    align-items: center;
    height: 60px;
  }

  .navbar-right ul li {
    padding-right: 50px;
  }

  .navbar-right li a {
    text-decoration: none;
    font-family: RootBeer;
    color: #ffffff;
    font-size: 2.6rem;
  }

  .navbar-right ul li:nth-child(4) {
    padding-right: 0;
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 8px 18px;
  }

  .navbar-right ul li:nth-child(4):hover {
    border: 2px solid #d0a35c;
    transition: 400ms;
  }

  .navbar-right ul li:nth-child(4):hover a {
    color: #d0a35c;
    transition: 400ms;
  }

  .navbar-right ul li:nth-child(4):hover a span svg path {
    fill: #d0a35c;
    transition: 400ms;
  }

  .navbar-right ul li a:hover {
    color: #d0a35c;
    fill: #d0a35c;
    transition: 400ms;
  }

  .navbar-right ul li:nth-child(2):hover .beers-menu {
    opacity: 1;
    z-index: 1;
    transition: opacity 400ms;
    transition-delay: 400ms;
  }

  .navbar-right ul li:nth-child(2):active .beers-menu {
    opacity: 1;
    z-index: 1;
    transition: opacity 400ms;
    transition-delay: 400ms;
  }

  .navbar-right ul li a span svg path {
    display: inline-block;
    width: 26px;
    height: 25px;
  }

  .mobile-menu {
    position: absolute;
    top: 10%;
    display: grid;
    align-content: center;
    justify-content: center;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: #000000;
    z-index: 1;

    transform: translateX(-100%);
    transition: transform 300ms;
  }

  .active {
    transform: translateX(0);
    transition: transform 400ms;
  }

  .mobile-menu ul {
    padding-left: 0px;
  }
  .mobile-menu ul li {
    margin-bottom: 20px;
    list-style: none;
  }

  .mobile-menu ul li ul {
    padding-top: 20px;
  }
  .mobile-menu ul li a {
    text-decoration: none;
    font-family: RootBeer;
    color: #ffffff;
    font-size: 3.5rem;
    letter-spacing: 3px;
  }

  .navbar-right .beers-menu {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(5, max-content);
    background-color: #000000;
    gap: 5px;
    padding: 20px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 400ms;
    transition-delay: 400ms;
  }

  @media screen and (min-width: 761px) {
    .mobile-menu {
      opacity: 0;
    }
  }

  @media screen and (max-width: 760px) {
    nav {
      display: flex;
    }
    nav .menu {
      display: block;
    }

    nav .wsp {
      display: flex;
      align-items: center;
    }

    nav .wsp img {
      width: 30px;
      height: 31px;
    }

    .navbar-right {
      display: none;
    }
  }

  @media screen and (max-width: 880px) {
    nav {
      padding: 10px 10px;
    }
  }
</style>

<script>
  const mobileMenu = document.querySelector(".mobile-menu");
  const menuHamIcon = document.querySelector(".menu");

  menuHamIcon.addEventListener("click", toggleMobileMenu);

  function toggleMobileMenu() {
    mobileMenu.classList.toggle("active");
  }
</script>
