---
const { title, slug } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Roboto:wght@300;500&display=swap");

  @font-face {
    font-family: RootBeer;
    src: url("/fonts/Root\ Beer.otf"), local("Root Beer");
    font-weight: bold;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    background: #000000;
    background-size: 224px;
    max-width: 1600px;
    /* height: 100vh; */
    margin: 0 auto;
  }
</style>
